[Desktop Entry]
Type=Application
Name=Ubuntu Forum
Icon=${SNAP}/meta/gui/icon.png
Exec=ubuntu-forum-client
Terminal=false
StartupWMClass=ubuntu-forum-client
Categories=Utility;
